
connection: &connection
  adapter: postgresql
  encoding: unicode
  host:     localhost
  pool: 5
  password:

development:
  <<: *connection
  database: cinematron_dev

test: &test
  <<: *connection
  database: cinematron_test

